<% layout('layout/boilerplate') %>


    <link rel="stylesheet" href="/styles/forms.css">

    <div class="container justify-position-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-6 col-xl-4 offset-xl-4">
                <div class="card <%= viewMode %> ">
                    <h2 class="card-header">Login</h2>
                    <div class="card-body">
                        <form class="needs-validation" action="/login" method="POST" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username: </label>
                                <input class="form-control" name="username" id="username" type="text"
                                    placeholder="Enter Username" required>
                                <div class="invalid-feedback">
                                    You need to enter a username to login
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password: </label>
                                <input class="form-control" name="password" id="password" type="password"
                                    placeholder="Enter a Password" required>
                                <div class="invalid-feedback">
                                    You need to enter a password to login
                                </div>
                                <small>Don't have an account? <a href="/register">Register</a></small>
                            </div>
                            <div class="d-grid gap-2 col-12 mx-auto">
                                <button class="btn btn-outline-secondary">Login</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>