<% layout('layout/boilerplate') %>
    <div class="Posts">
        <h1>Register</h1>

        <form class="needs-validation" action="/register" method="POST" novalidate>
            <div class="mb-3">
                <label class="form-label" for="email">Email Adress: </label>
                <input class="form-control" name="email" id="email" type="email" placeholder="name@example.com"
                    required>
                <div class="invalid-feedback">
                    You need an email to create an account
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="username">Username: </label>
                <input class="form-control" name="username" id="username" type="text" placeholder="Enter Username"
                    required>
                <div class="invalid-feedback">
                    You need a username to create an account
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password: </label>
                <input class="form-control" name="password" id="password" type="password" placeholder="Enter a Password"
                    required>
                <div class="invalid-feedback">
                    You need a password to create an account
                </div>
                <small>Already have an account? <a href="/login">Login</a></small>
            </div>
            <button class="btn btn-outline-secondary">Register</button>
        </form>
    </div>