<% if(success !='' ) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Sucess! </strong>
        <%= success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>

        <% if(error !='' ) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>ERROR! </strong>
                <%= error %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>


                <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

                <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">Success! </strong> Something cool
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                </div>

                <script>
                    // var toastTrigger = document.getElementById('liveToastBtn')
                    // var toastLiveExample = document.getElementById('liveToast')
                    // toastTrigger.addEventListener('click', function () {
                    //     var toast = new bootstrap.Toast(toastLiveExample)

                    //     toast.show()
                    // })


                </script>