<footer class="footer <%= viewMode ==='dark' ? 'bg-dark': 'bg-light' %> py-3 mt-auto">
    <div class="container text-center">
        <span class="text-muted">&copy; ShowRank 2021</span>
    </div>
</footer>