<!-- Modal -->
<div class="modal fade" id="login" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" action="/login" method="POST" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="username">Username: </label>
                        <input class="form-control" name="username" id="username" type="text"
                            placeholder="Enter Username" required>
                        <div class="invalid-feedback">
                            You need to enter a username to login
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password">Password: </label>
                        <input class="form-control" name="password" id="password" type="password"
                            placeholder="Enter a Password" required>
                        <div class="invalid-feedback">
                            You need to enter a password to login
                        </div>
                    </div>
                    <button class="btn btn-outline-secondary mb-2">Login</button> <br>
                    <small>Don't have an account? <a href="/register">Register</a></small>
                </form>
            </div>
        </div>
    </div>
</div>