<% layout('layout/boilerplate') %>
    <h1>Create a New Post</h1>
    <br>
    <form class="needs-validation" action="/posts" method="POST" novalidate>
        <div>
            <label class="form-label" for="title">Title:</label>
            <input class="form-control" type="text" name="title" id="title" placeholder="Title" required>
            <div class="invalid-feedback">
                You need a title in order to create a post
            </div>
        </div>

        <br>
        <label class="form-label" for="text">Post Content:</label>
        <section>
            <textarea class="form-control" name="text" id="text" cols="100" rows="10"
                placeholder="Say what you want to say here"></textarea>
        </section>
        <label class="form-label mt-3" for="inputGroupFile03">Image Upload: </label>
        <input class="form-control" type="text" name="image" id="image" placeholder="Insert image adress"> <br>
        <!-- <div class="input-group mb-3">
            <input name="img" type="file" class="form-control" id="inputGroupFile03"
                aria-describedby="inputGroupFileAddon03" aria-label="Upload">
        </div> -->
        <button class="btn btn-outline-secondary">Post</button>
    </form>
    <a class="mt-3 btn btn-outline-secondary" href="/posts">Back to All Posts</a>


    <script>
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()

    </script>