<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/styles/bootstrap.min.js"></script>
    <script src="/styles/jquery.js"></script>

    <title>ShowRank</title>

    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>


<body class="dark d-flex flex-column vh-100">
    <%- include('partials/modals') %>
        <div class="main">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">ShowRank</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse row" id="navbarNav">
                        <div class="col-sm-10">
                        </div>
                        <ul class="navbar-nav col-sm-2">
                            <li class="nav-item">
                                <a class="nav-link nav-feature" href="/login" data-bs-toggle="modal"
                                    data-bs-target="#login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-feature" href="/register">Register</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>



            <div class="container mt-5">
                <h1>Welcome to ShowRank,</h1>
                <p class="lead">Home of All Discussion About Shows and Movies</p>
                <div class="body1">
                    <h2 class="text-center">Talk About Your Favourite Movies and Shows Anytime with Anyone</h2>
                    <p class="text-center">Ready to start a disuccsion? Click the button below to create an account
                        and
                        make
                        your
                        first
                        post.</p>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a href="/register" class="btn btn-sm btn-outline-secondary">Click Here to Get Started</a>
                    </div>
                </div>

                <hr class="line">

                <div class="body2">
                    <h2 class="text-center">Don't Want to Make an Account? No Worries.</h2>
                    <p class="text-center">You can still view anyone's post as much as you want, but if you want to
                        comment
                        or
                        interact
                        with others, you must sign in or register. </p>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a href="/posts" class="btn btn-sm btn-outline-secondary">Click Here to View All Posts</a>
                    </div>
                </div>

            </div>



            <hr class="m-0">

        </div>
        <div class="body3">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h2 class="text-center mt-5 mb-5">
                        Discuss with Anyone, Anywhere, About <br> Anything
                    </h2>
                    <p class="text-center mt-5">
                        You can upload your own images with posts to share with anyone on ShowRank!
                    </p>
                    <p class="text-center mt-5">
                        Comment to continue discussion on a post, anything is possible with ShowRank
                    </p>
                </div>
                <div class="col-12 col-md-6">
                    <img class="img-fluid rounded mx-auto d-block"
                        src="https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2020&q=80"
                        alt="">
                </div>
            </div>
        </div>

        <hr class="line">

        <%- include('partials/footer') %>

</body>

</html>