<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/main.css">

</head>

<body class="<%=viewMode%>">
    <h1>Welcome to whatever this final project is</h1>
    <button><a href="/posts">Click to view all post</a></button>
    <br>
    <button><a href="/change">Click to toggle light and dark mode</a></button>
</body>

</html>