<% layout('layout/boilerplate') %>
    <h1>Welcome to whatever this final project is</h1>
    <br>
    <a href="/posts" class="btn btn-outline-secondary">Click to view all post</a>
    <br>
    <br>
    <a href="/change" class="btn btn-outline-secondary">Click to toggle light and dark mode</a>