<% layout('layout/boilerplate') %>
    <h1 class="mb-4">
        User: <%= user.username %>
    </h1>



    <ul class="nav nav-pills mb-3 row justify-content-between" id="pills-tab" role="tablist">
        <li class="nav-item col-2" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                type="button" role="tab" aria-controls="pills-home" aria-selected="true">Posts</button>
        </li>
        <li class="nav-item col-2" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Comments</button>
        </li>
        <li class="nav-item col-2" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
                type="button" role="tab" aria-controls="pills-contact" aria-selected="false">About</button>
        </li>
    </ul>


    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi deserunt, voluptatem facilis in eligendi eum
            voluptate veniam porro assumenda. Animi explicabo at eaque, dolorum officiis saepe odit fugit nam tempora?
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis eos sit molestiae veritatis quae hic
            ipsam rem doloremque tempora saepe, eum veniam tenetur corrupti? Tempore explicabo itaque pariatur ea omnis.
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam debitis necessitatibus magni exercitationem
            doloribus pariatur libero recusandae dolores commodi sapiente. Suscipit nulla eaque quos reprehenderit
            dolore veritatis! Placeat, provident modi.
        </div>
    </div>